name: Interaction Test

on:
  push:
    branches: ["main"]

defaults:
  run:
    working-directory: .

jobs:
  interaction-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v3
        with:
          node-version: 18

      - run: npm install

      - name: Run interaction test
        run: node ./tests/interaction.js
